/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end not my style*/





/*  myCSS  */
body {
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; /* this is 1em*/
	line-height: 1.5;
	color: black
}
h1 {
	font-size: 71px;
	line-height: 106px;
	font-weight: bold;
	margin-bottom: 18px;
}
h2 {
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	margin-bottom: 12px;
}
h3 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 18px;
	margin-left: 15px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 18px;
  margin-right: 1em;
	margin-left: 1em;
	font-weight: bold;
  border-bottom: solid;
	border-color: #c78b07;
	border-width: 2px;
}
p {
	margin-bottom: 1em; /* font size is 14px, so 1em = 14px */
  margin-left: 1em;
	margin-right: 1em;
}
img {
	max-width: 100%;
	height: auto;
}
nav {
	background: #222222;
}
.container ul {
	margin-top: -1px;
}
.container {
	padding: 1em;
}
.logo {
	background: #c78b07;
	padding-bottom: 20px;
	padding-top: 20px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 60px;
}
.bigdiv {
	background-color: #c78b07;
}
nav a:link,
nav a:visited {
	font-size: 18px;
	color: #c78b07;
	text-align: center;
	display: block;
	text-decoration: none;
	padding-top: 17px;
	padding-bottom: 17px;
}
nav .current a:link,
nav .current a:visited{
	color: black;
	background: #c78b07;
}
.smallboxsearch {
	margin-top: 5px;
	margin-bottom: 10px;
  width: 91%;
}
/*button section*/
.searchbutton {
	background-color: #222222;
	border-color: #c78b07;
}
.yellowbutton {
	background-color: #c78b07;
	text-align: center;
	padding: 20px;
	margin-left: 1em;
}
.blackbutton {
	background-color: #222222;
	text-align: center;
	color: white;
	padding: 20px;
	margin-left: 1em;
}
.visionbutton {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: #c78b07;
	color: white;
	text-align: center;
	padding: 20px;
	margin-left: 1em;
}
.sendbutton {
	background-color: #222222;
	color:#c78b07;
}
/*welcome section*/
.header-welcome {
	background-image: url(../img/main-banner.jpg);
	background-size: cover;
	padding-top: 68px;
	padding-bottom: 68px;
}
.header-welcome .container {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
/*about section*/
.section-about {
	background-color: #ffe6ac;
	background-size: cover;
}
/*service section*/
.service-grid {
	background-color: #ffe6ac;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.img-services {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.img-services1 {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.img-services2 {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*team section*/
.team-grid {
	background-color: #ffe6ac;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.team-grid2 {
	background-color: #ffe6ac;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.team-grid h3 {
	margin-bottom: 0px;
}
/*vision section*/
.vision-grid {
  background-image: url(../img/vision.jpg);
	background-size: cover;
	padding: 15px;
}
.vision-grid h2 {
	color: white;
	margin-left: 10px;
}
.vision-grid p {
	color: white;
}
/* contact section*/
.section-contact {
	background-size: cover;
	padding-top: 15px;
	padding-bottom: 15px;
}
.section-contact h3 {
	margin-left: 0px;
}
.smallbox {
	margin-top: 5px;
	margin-bottom: 10px;
  width: 100%;
}
.bigbox {
	margin-top: 5px;
	margin-bottom: 10px;
  width: 100%;
	padding-bottom: 100px;
}
/*hour operation section*/
table, th, td {
  border: 1px solid;
	padding: 1em;
}
table {
	width: 100%;
}
th {
	background-color: #ffe6ac;
}
iframe {
	width: 100%;
}
.section-footer {
	background-color: #222222;
	color:#c78b07;
}
/*desktop styles*/
@media screen and (min-width: 760px) {
	.container {
		width: 706px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 1168px;
		padding: 0 16px;
		margin: 0 auto;
	}
/*about section*/
.section-about {
	background-color: #ffe6ac;
}
nav {
	height: 156px;
}
.container ul {
	padding-top: 27px
}
nav li {
	position: relative;
	display: inline-block;
  width: 10%;
	margin-left: 30px;
	margin-top: 22px;
	text-align: center;
}
nav .smallboxsearch {
	position: absolute;
	margin-left: 770px;
	margin-bottom: 50px;
  width: 15%;
	top: 65px;
}
nav .searchbutton {
	position: absolute;
	top: 69px;
	right: 72px;
}
nav .container {
	position: relative;
}
.logo {
  position: relative;
	display: inline-block;
	background-image: url(../img/logo.png);
	background-size: cover;
	width: 130px;
	height: 80px;
	margin-top: 18px;
	float: left;
}
/*about section*/
.section-about{
	display: flex;
	gap: 1em;
	flex-wrap: nowrap;
}
#imgaboutus {
	float: left;
	padding: 1em;
	width: 50%;
}
/*vision*/
.vision-grid {
	padding-left: 6%;
	padding-right: 6%;
	background-image: url(../img/vision.jpg);
	background-position: center;
}
/*service*/
.servicegrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr;
	column-gap: 15px;
}
.servicegrid .service-grid:nth-child(1) {
	grid-column: 1 / 4;
}
.servicegrid .service-grid:nth-child(2) {
	grid-column: 4 / 7;
}
.servicegrid .service-grid:nth-child(3) {
	grid-column: 1 / 3;
	grid-row: 2 / 2;
}
.servicegrid .service-grid:nth-child(4) {
	grid-column: 3 / 5;
	grid-row: 2 / 2;
}
.servicegrid .service-grid:nth-child(5) {
	grid-column: 5 / 7;
	grid-row: 2 / 2;
}
/*team*/
.gridteamversion .team-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
.gridteamversion .team-grid .img-team {
	grid-column: 1 / 2;
}
.gridteamversion .team-grid .text-team {
grid-column: 2 / 3;
}
.gridteamversion2 .team-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
.gridteamversion2 .team-grid .img-team {
	grid-column: 2 / 3;
	grid-row: 1;
}
.gridteamversion2 .team-grid .text-team {
grid-column: 1 / 2;
grid-row: 1;
}
.team-grid {
	margin-bottom: 0;
}
.img-team img {
	width: 100%;
	height: 100%;
}
.specialdiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
}
.messagediv {
	display: grid;
	grid-column: 1;
	grid-row: 1;
}
.hoursdiv {
	display: grid;
	grid-column: 1 / 3;
	grid-row: 2;
}
.hours {
	height: -1000px;
}
.locationdiv {
	display: grid;
	grid-column: 2;
	grid-row: 1;
}
.section-footer {
	padding-top: 2em;
	padding-bottom: 1em;
}
.sendbutton {
	padding: 5px 6px;
}
}